#movingbutton{
    display: block;
    position: absolute;
	background-color: #cf68b9;
	padding: 15px 32px;
  border-radius: 12px;
}
body{
  width : 100%;
  background-image: url('cloud.jpg')
}
.ctr{
  width : 100%;
  height : 100%;
}

.footer {
  display: inline;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(76, 136, 206);
  color: white;
  text-align: center;
}
